*,
*::after,
*::before {
  box-sizing: border-box;
}

*:focus:not(:focus-visible) {
  outline: none;
}

html,
boby {
  font-size: 62.5%;
}

body {
  background: url("../img/background.jpg");
}
.header {
  padding: 6.4rem 0 9.5rem;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  max-width: 113.5rem;
  margin: 0 auto;
}

.header__menu {
  display: flex;
  align-items: center;
}
.header__logo-wrap {
  width: 7.9rem;
  height: 2.8rem;
  margin-right: 3.9rem;
}
.header__logo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header__link:not(:last-child) {
  margin-right: 2.4rem;
}

.header__link {
  color: white;
  text-decoration: none;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.6rem;
}

.socials {
  display: flex;
  align-items: center;
}

.socials__link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.1rem;
}
.socials__link:not(:last-child) {
  margin-right: 2.1rem;
}
.socials__image {
  width: 1.7rem;
  height: 1.6rem;
}

.footer {
  padding: 2rem 0;
  background-color: #030102;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2rem;
  color: rgba(255, 255, 255, 0.4);
}
.footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__menu {
  margin: 0;
  display: flex;
  align-items: center;
  padding-left: 0;
  list-style-type: none;
}
.footer__item:not(:last-child) {
  margin-right: 2.5rem;
}
.footer__link {
  text-decoration: none;
  color: inherit;
}
